*{

    margin:0;
    padding:0;
}

#edit{
    text-align: center;
    font-size:2rem;
    margin:10px;
}
.personal{
    margin:5%;
   
}
input{
    border-radius: 2px;
    align-items: center;
    padding:2px;
    opacity: 0.3;
}
.personal >h2 , .research>h2{
    text-align: center;
}
textarea{
    opacity: 0.3;
}

.container >button{
    align-items: center;
    text-align: center;
    background-color: aquamarine;
    border-radius: 2px;
    border:none;
    padding:5px;
    
}

#view{
    text-align: center;
    align-items: center;
}