.form-3 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 0px auto 0px;
    padding: 7px;
    overflow: hidden;

    /* Styles */
    background: #F0FFFF; 
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: 
        inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.form-3 label {
    /* Size and position */
    width:170px;
    float: left;
    padding-top: 3px;
	padding-left:150px;

    /* Styles */
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
	
}

.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width:230px;
	height:23px;
    float: left;
	align-content:center;
	padding-top: 3px;
	padding-bottom:3px;
    margin-bottom: 8px;
	margin-left:130px;
    font-size: 13px;

    /* Styles */
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #ddd;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;

}

.form-3 input[type=text]:hover,
.form-3 input[type=password]:hover,
.form-3 label:hover ~ input[type=text],
.form-3 label:hover ~ input[type=password] {
    background: #27292c;
}

.form-3 input[type=text]:focus, 
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #494d54;
    border-color: #51cbee;
    outline: none; /* Remove Chrome outline */
}

.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}

.form-3 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}

.form-3 input[type=checkbox] {
    margin-left: 10px;
    vertical-align: middle;
}

.form-3 input[type=submit] {
    /* Width and position */
    width: 100pt;
    padding: 5px 5px;
	text-align:center;
	margin-left:150px;
	
  
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.form-3 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 input[type=submit]:hover {
    background: #2a92d8;
}

/* Gradient line */
.form-3:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;

    /* Styles */
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}

/* Small flash */
.form-3:before {
    /* Size and position */
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
    
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

.form-3 p:nth-child(1):before{
    /* Size and position */
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;

    /* Styles */
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events: none;
}

.no-pointerevents .form-3 p:nth-child(1):before {
    display: none;
}

.journalheading{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:30px;
	color:rgba(23,119,154,1.00);	
}

.journaltitle
{


background: rgb(140, 140, 140);
background: -moz-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -webkit-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -o-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -ms-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: linear-gradient(120deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);

padding:12px 12px;
border-radius: 7px 7px 7px 7px;
color:#FFFFFF;
text-align:center;
font-weight:500;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:20px;
vertical-align:top;
}

.issn{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;	
}

.logintitle{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;	
}

.formcss{
	background-color:#9C9090;
}