.title
{


background: rgb(140, 140, 140);
background: -moz-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -webkit-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -o-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: -ms-linear-gradient(30deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);
background: linear-gradient(120deg, rgb(140, 140, 140) 30%, rgb(160, 160, 160) 70%);


padding:12px 12px;
border-radius: 7px 7px 7px 7px;
color:#FFFFFF;
text-align:center;
font-weight:500;
font-family:Arial, Helvetica, sans-serif;
font-size:25px;
vertical-align:top;
}


#para { 
	color: #222; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 13px; 
	font-weight: 400; 
	line-height: 20px; 
	margin: 0 0 14px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	text-align: justify; 
}


.impdates{
	font-size: 18px; 
	color: #F90B6D;
	padding-left:10px;  
	text-shadow: 1px 1px 0 #000, margin: 05px 0 10px; 
	text-align:left; 
	line-height: 20px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:6px;
	
}

.impdatestopic{
	color: #222; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 13px; 
	font-weight: 400; 
	line-height: 20px; 
	margin: 0 0 14px;
	margin-right:10px;
}


.topicHeading
{
background-color:#CCCCCC;
padding:8px 8px;
border-radius: 0px 0px 0px 0px;
color:#000;
text-align:center;
font-weight:500;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
vertical-align:top;
}



.headingcontact
{
background-color:#CCCCCC;
padding:8px 8px;
color:#000;
text-align:center;
font-weight:500;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
vertical-align:top;
border-radius: 7px 7px 7px 7px;
}

.headingcontacttext
{
padding:8px 8px;
color:#000;
text-align:left;
font-weight:500;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
vertical-align:top;
border-radius: 0px 0px 7px 7px;
border: 1px rgb(89,89,89) dashed;
border-bottom-color:#000000;
border-top-color:#FFFFFF;
}
