.headerbg
{


background: rgb(6, 63, 88);
background: -moz-linear-gradient(0deg, rgb(6, 63, 88) 100%, rgb(237, 237, 237) 100%);
background: -webkit-linear-gradient(0deg, rgb(6, 63, 88) 100%, rgb(237, 237, 237) 100%);
background: -o-linear-gradient(0deg, rgb(6, 63, 88) 100%, rgb(237, 237, 237) 100%);
background: -ms-linear-gradient(0deg, rgb(6, 63, 88) 100%, rgb(237, 237, 237) 100%);
background: linear-gradient(90deg, rgb(6, 63, 88) 100%, rgb(237, 237, 237) 100%);


padding:7px 7px;
border-radius: 7px 7px 0px 0px;
color:#FFFFFF;
text-align:center;

font-family:Arial, Helvetica, sans-serif;
font-size:14px;
vertical-align:top;
}


.headerbgblue{
background: rgb(38, 48, 99);
background: -moz-linear-gradient(0deg, rgb(38, 48, 99) 40%, rgb(66, 56, 160) 90%);
background: -webkit-linear-gradient(0deg, rgb(38, 48, 99) 40%, rgb(66, 56, 160) 90%);
background: -o-linear-gradient(0deg, rgb(38, 48, 99) 40%, rgb(66, 56, 160) 90%);
background: -ms-linear-gradient(0deg, rgb(38, 48, 99) 40%, rgb(66, 56, 160) 90%);
background: linear-gradient(90deg, rgb(38, 48, 99) 40%, rgb(66, 56, 160) 90%);
padding:5px 5px;
border-radius: 7px 7px 0px 0px;
color:#FFFFFF;
text-align:center;
font-weight:600;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;

}

.boxformat{
/*width: 199px;
height: 199px;
*/
/*border: 1px rgb(89,89,89) dashed;*/
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
background: rgb(236, 235, 235);
line-height: 1em;
border-radius: 0px 0px 7px 7px;
}

.boxformatwithtext{
width: 200px;
height: 200px;
border: 1px rgb(89,89,89) dashed;
padding: 7px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
color: rgb(25,25,25);
font-size: 14px;
font-weight: lighter;
font-family: Georgia, serif;
font-style: normal;
text-decoration: none;
text-align: center;
line-height: 1.45em;
}

.pformat{
	text-align:center;
	vertical-align:top;
	margin-top:0px;
	margin-bottom:0px;
	padding: 2px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	
}

.pformat1{
	text-align:center;
	vertical-align:top;
	margin-top:0px;
	margin-bottom:0px;
	padding: 2px 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

.button1{
  display: block;
  height: 70px;
  width: 199px;
  /*TYPE*/
  color: white;
  font: 17px/20px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  vertical-align:central;
  padding-top: 7px;
  
 }
 
 .button2{
  display: block;
  height: 50px;
  width: 199px;
  /*TYPE*/
  color: white;
  font: 14px/20px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  vertical-align:central;
  padding-top: 6px;
  
 }
 
 
 .tb8 {
	width: 160px;
	border: 1px solid #3366FF;
	border-left: 4px solid #3366FF;
	margin-top:10px;
	text-align:center;
	margin-left:12px;
}

.btnsubmit{
	margin-left:23px;
	margin-top:10px;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;

}


.btntrack {
  background: #1b9ea3;
  background-image: -webkit-linear-gradient(top, #1b9ea3, #2bb3b8);
  background-image: -moz-linear-gradient(top, #1b9ea3, #2bb3b8);
  background-image: -ms-linear-gradient(top, #1b9ea3, #2bb3b8);
  background-image: -o-linear-gradient(top, #1b9ea3, #2bb3b8);
  background-image: linear-gradient(to bottom, #1b9ea3, #2bb3b8);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  
  
}

.btntrack:hover {
  background: #54ebf0;
  background-image: -webkit-linear-gradient(top, #54ebf0, #a5e4e8);
  background-image: -moz-linear-gradient(top, #54ebf0, #a5e4e8);
  background-image: -ms-linear-gradient(top, #54ebf0, #a5e4e8);
  background-image: -o-linear-gradient(top, #54ebf0, #a5e4e8);
  background-image: linear-gradient(to bottom, #54ebf0, #a5e4e8);
  text-decoration: none;
  
}


